<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos los usuarios</h1>
    <ol th:each="user : ${users}">
        <li th:text="${user.firstName}">
            <li th:text="${user.lastName1}"></li>
            <li th:text="${user.lastName2}"></li>
            <li th:text="${user.role}"></li>
        </li>
    </ol>
</body>
</html>