 <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos Personales</title>
        <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <form action="#" method="post" th:action="@{/createUser}" th:object="${User}">
    <section class="datos-personales">
      <h1>Datos Personales</h1>
      <form>
        <div>
          <label th:each="user : ${users}">Nombre de Usuario:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label th:text="${User.lastName1}">Apellido1:</label>
          <input type="text" id="apellido1" name="apellido1" required>
        </div>
        <div>
          <label th:text="${User.lastName2}">Apellido2:</label>
          <input type="text" id="apellido2" name="apellido2" required>
        </div>
        <div>
          <label th:text="${User.role}">Rol:</label>
          <input type="text" id="rol" name="rol" required>
        </div>
      </form>
    </section>
  </body>
</html>